config_overide/config.php
/logs/errors/warning.3.log
/logs/errors/notice.6.log
/logs/errors/notice.7.log
/logs/errors/error.5.log
/logs/errors/error.3.log
/logs/errors/notice.4.log
/logs/errors/error.4.log
/logs/errors/warning.7.log
/logs/errors/error.2.log
/logs/errors/application_exception.6.log
/logs/errors/warning.2.log
/logs/errors/warning.5.log
/logs/errors/notice.5.log
/logs/errors/notice.2.log
/logs/errors/notice.1.log
/logs/errors/error.7.log
/logs/errors/notice.3.log
/logs/errors/warning.4.log
/logs/errors/application_exception.3.log
/logs/errors/error.1.log
/logs/errors/error.6.log
/logs/errors/warning.1.log
/logs/errors/application_exception.7.log
/logs/errors/application_exception.4.log
/logs/errors/warning.6.log
/logs/errors/application_exception.1.log
/logs/errors/application_exception.2.log
/logs/errors/application_exception.5.log
/.vagrant/
/logs/errors/strict.5.log
/logs/errors/strict.4.log
/logs/errors/strict.3.log
/logs/errors/strict.1.log
/logs/errors/strict.6.log
/logs/errors/strict.2.log
/logs/errors/strict.7.log